/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* VARIBALES */
:root{
    /* COLORS */
    --white-color: #fefefe; 
    --black-color: #0c0c0c;
    --blue-color: #0b97f5; 
    --light-brown-color: #fca93f;
    --orange-color: #f06b20;  
    --shadow-color: #0c0c0c23; 
    --background-color: #e6cea0; 
}

/* BASE */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Poppins';
    height: 100vh;
    background-color: var(--background-color);
    overflow-x: hidden;
}

/* POPUP */ 


    /* BREAKPOINTS */ 
